&spi1 {
    /* pinctrl-0 = < &spi1_nss_pa4 &spi1_sck_pa5 &spi1_miso_pa6 &spi1_mosi_pa7 >; */
	pinctrl-0 = < &spi1_nss_pa4 &spi1_sck_pb3 &spi1_miso_pb4 &spi1_mosi_pb5 >;
};

&i2c1 {
			compatible = "st,stm32-i2c-v2";
            status = "okay";
            /* sda-pin = <26>; */
            /* scl-pin = <27>; */

            /* pinctrl-0 = <>; */
            pinctrl-0 = <&i2c1_sda_pb7 &i2c1_scl_pb6>;
            pinctrl-names = "default";
};

&i2c2 {
			compatible = "st,stm32-i2c-v2";
            status = "okay";
            /* sda-pin = <26>; */
            /* scl-pin = <27>; */

            pinctrl-0 = <&i2c2_sda_pf0 &i2c2_scl_pf1>;
            pinctrl-names = "default";
};

&i2c2_sda_pf0 {
            /* /delete-property/ bias-pull-up;     */
            /* /delete-property/ drive-open-drain; */
};

&i2c2_scl_pf1 {
            /* /delete-property/ bias-pull-up;     */
            /* /delete-property/ drive-open-drain; */
            /* bias-disable */
            /* bias-pull-up */
            /* bias-pull-down */
            /* drive-push-pull */
            /* drive-open-drain */
            /* output-low */
            /* output-high */
};
